{% extends 'base.html' %}
{% block content %}
{% load static %}
<!-- ======= Intro Section ======= -->
{% for message in messages %}
<script>
                    window.onload = function(
                    ){
                        alert('{{message}}')
                    }



</script>
{% endfor %}
<div class="intro intro-carousel swiper-container position-relative">

    <div class="swiper-wrapper">

        <div class="swiper-slide carousel-item-a intro-item bg-image"
             style="background-image: url({% static  'img/slide-1.jpg' %})">
            <div class="overlay overlay-a"></div>
            <div class="intro-content display-table">
                <div class="table-cell">
                    <div class="container">
                        <div class="row">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="swiper-slide carousel-item-a intro-item bg-image"
             style="background-image: url({% static  'img/slide-2.jpg' %})">
            <div class="overlay overlay-a"></div>
            <div class="intro-content display-table">
                <div class="table-cell">
                    <div class="container">
                        <div class="row">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="swiper-slide carousel-item-a intro-item bg-image"
             style="background-image: url({% static  'img/slide-3.jpg' %})">
            <div class="overlay overlay-a"></div>
            <div class="intro-content display-table">
                <div class="table-cell">
                    <div class="container">
                        <div class="row">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="swiper-pagination"></div>
</div><!-- End Intro Section -->

<main id="main">

    <!-- ======= Services Section ======= -->
    <section class="section-services section-t8">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="title-wrap d-flex justify-content-between">
                        <div class="title-box">
                            <h2 class="title-a">Our Services</h2>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="card-box-c foo">
                        <div class="card-header-c d-flex">
                            <div class="card-box-ico">
                                <span class="bi bi-house"></span>
                            </div>
                            <div class="card-title-c align-self-center">
                                <h2 class="title-c">Post</h2>
                            </div>
                        </div>
                        <div class="card-body-c">
                            <p class="content-c">
                                Post property for sale and rent for finding home esy ways.
                                Also,Post as many property as you want to HomeFinder and view them at any time.

                            </p>
                        </div>
                        <!--              <div class="card-footer-c">-->
                        <!--                <a href="#" class="link-c link-icon">Read more-->
                        <!--                  <span class="bi bi-chevron-right"></span>-->
                        <!--                </a>-->
                        <!--              </div>-->
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card-box-c foo">
                        <div class="card-header-c d-flex">
                            <div class="card-box-ico">
                                <span class="bi bi-cash-stack"></span>
                            </div>
                            <div class="card-title-c align-self-center">
                                <h2 class="title-c">Rent</h2>
                            </div>
                        </div>
                        <div class="card-body-c">
                            <p class="content-c">
                                Homefinder is a property site to rent your property.It brings you the faster and most
                                convenient way for
                                showing your property and connecting with prospective agents.
                            </p>
                        </div>
                        <!--              <div class="card-footer-c">-->
                        <!--                <a href="#" class="link-c link-icon">Read more-->
                        <!--                  <span class="bi bi-calendar4-week"></span>-->
                        <!--                </a>-->
                        <!--              </div>-->
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card-box-c foo">
                        <div class="card-header-c d-flex">
                            <div class="card-box-ico">
                                <span class="bi bi-card-checklist"></span>
                            </div>
                            <div class="card-title-c align-self-center">
                                <h2 class="title-c">Sale</h2>
                            </div>
                        </div>
                        <div class="card-body-c">
                            <p class="content-c">
                                Homefinder,a leading property site to sale your property.It brings you the faster and
                                most way for
                                showing your property and connecting with prospective agents.
                            </p>
                        </div>
                        <!--              <div class="card-footer-c">-->
                        <!--                <a href="#" class="link-c link-icon">Read more-->
                        <!--                  <span class="bi bi-chevron-right"></span>-->
                        <!--                </a>-->
                        <!--              </div>-->
                    </div>
                </div>
            </div>
        </div>
    </section><!-- End Services Section -->

    <!-- ======= Latest Properties Section ======= -->
    <section class="section-property section-t8">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="title-wrap d-flex justify-content-between">
                        <div class="title-box">
                            <h2 class="title-a">Latest Properties</h2>
                        </div>
                        <div class="title-link">
                            <a href="{% url 'property_grid' %}">All Property
                                <span class="bi bi-chevron-right"></span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="swiper-container" id="property-carousel">
                <div class="swiper-wrapper">

                    <div class="carousel-item-b swiper-slide">
                        <div class="card-box-a card-shadow">
                            <div class="img-box-a">
                                <img alt="" class="img-a img-fluid" style="height: 400px; width:400px "src="{% static 'img/post-4.jpg' %}">
                            </div>
                            <div class="card-overlay">
                                <div class="card-overlay-a-content">
                                    <div class="card-header-a">
                                        <h2 class="card-title-a">
                                            <a href="">Mumbai
                                            <br/>400 083</a>
                                        </h2>
                                    </div>
                                    <div class="card-body-a">
                                        <div class="price-box d-flex">
                                            <span class="price-a">RENT | ₹ 12000</span>
                                        </div>
                                    </div>
                                    <div class="card-footer-a">
                                        <ul class="card-info d-flex justify-content-around">
                                            <li>
                                                <h4 class="card-info-title">Area</h4>
                                                <span>380 m
                            <sup>2</sup>
                          </span>
                                            </li>
                                            <li>
                                                <h4 class="card-info-title">Beds</h4>
                                                <span>1</span>
                                            </li>
                                            <li>
                                                <h4 class="card-info-title">Parking</h4>
                                                <span>0</span>
                                            </li>
                                            <li>
                                                <h4 class="card-info-title">Type</h4>
                                                <span>Residential</span>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><!-- End carousel item -->

                    <div class="carousel-item-b swiper-slide">
                        <div class="card-box-a card-shadow">
                            <div class="img-box-a">
                                <img alt="" class="img-a img-fluid" style="height: 400px; width:400px " src="{% static 'img/about.jpg' %}">
                            </div>
                            <div class="card-overlay">
                                <div class="card-overlay-a-content">
                                    <div class="card-header-a">
                                        <h2 class="card-title-a">
                                            <a href="">Thane
                                            <br>400 604</a>
                                        </h2>
                                    </div>
                                    <div class="card-body-a">
                                        <div class="price-box d-flex">
                                            <span class="price-a">SALE | ₹ 5500000</span>
                                        </div>
                                    </div>
                                    <div class="card-footer-a">
                                        <ul class="card-info d-flex justify-content-around">
                                            <li>
                                                <h4 class="card-info-title">Area</h4>
                                                <span>750 m
                            <sup>2</sup>
                          </span>
                                            </li>
                                            <li>
                                                <h4 class="card-info-title">Beds</h4>
                                                <span>1</span>
                                            </li>
                                            <li>
                                                <h4 class="card-info-title">Parking</h4>
                                                <span>1</span>
                                            </li>
                                            <li>
                                                <h4 class="card-info-title">Type</h4>
                                                <span>Residential</span>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><!-- End carousel item -->

                    <div class="carousel-item-b swiper-slide">
                        <div class="card-box-a card-shadow">
                            <div class="img-box-a">
                                <img alt="" class="img-a img-fluid"style="height: 400px; width:400px " src="{% static 'img/pexels-charlotte-may-5825564.jpg' %}">
                            </div>
                            <div class="card-overlay">
                                <div class="card-overlay-a-content">
                                    <div class="card-header-a">
                                        <h2 class="card-title-a">
                                            <a href="">Mumbai
                                            <br>400 080</a>
                                        </h2>
                                    </div>
                                    <div class="card-body-a">
                                        <div class="price-box d-flex">
                                            <span class="price-a">RENT | ₹ 15000</span>
                                        </div>
                                    </div>
                                    <div class="card-footer-a">
                                        <ul class="card-info d-flex justify-content-around">
                                            <li>
                                                <h4 class="card-info-title">Area</h4>
                                                <span>500 m
                            <sup>2</sup>
                          </span>
                                            </li>
                                            <li>
                                                <h4 class="card-info-title">Beds</h4>
                                                <span>1</span>
                                            </li>
                                            <li>
                                                <h4 class="card-info-title">Parking</h4>
                                                <span>1</span>
                                            </li>
                                            <li>
                                                <h4 class="card-info-title">Type</h4>
                                                <span>Residential</span>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><!-- End carousel item -->

                    <div class="carousel-item-b swiper-slide">
                        <div class="card-box-a card-shadow">
                            <div class="img-box-a">
                                <img alt="" class="img-a img-fluid" style="height: 400px; width:400px " src="{% static 'img/pexels-curtis-adams-3773584.jpg' %}">
                            </div>
                            <div class="card-overlay">
                                <div class="card-overlay-a-content">
                                    <div class="card-header-a">
                                        <h2 class="card-title-a">
                                            <a href="">Navi Mumbai
                                            <br>400 703</a>
                                        </h2>
                                    </div>
                                    <div class="card-body-a">
                                        <div class="price-box d-flex">
                                            <span class="price-a">RENT | ₹ 20000</span>
                                        </div>
                                    </div>
                                    <div class="card-footer-a">
                                        <ul class="card-info d-flex justify-content-around">
                                            <li>
                                                <h4 class="card-info-title">Area</h4>
                                                <span>500 m
                            <sup>2</sup>
                          </span>
                                            </li>
                                            <li>
                                                <h4 class="card-info-title">Beds</h4>
                                                <span>1</span>
                                            </li>
                                            <li>
                                                <h4 class="card-info-title">Parking</h4>
                                                <span>2</span>
                                            </li>
                                            <li>
                                                <h4 class="card-info-title">Type</h4>
                                                <span>Residential</span>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><!-- End carousel item -->
                </div>
            </div>
            <div class="propery-carousel-pagination carousel-pagination"></div>

        </div>
    </section>
    <!-- End Latest Properties Section -->

    <!-- ======= Agents Section ======= -->
    <section class="section-agents section-t8">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="title-wrap d-flex justify-content-between">
                        <div class="title-box">
                            <h2 class="title-a">Best Owners</h2>
                        </div>
                        <div class="title-link">
                            <a href="{% url 'agents_grid' %}">All Owners
                                <span class="bi bi-chevron-right"></span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="card-box-d">
                        <div class="card-img-d">
                            <img alt="" class="img-d img-fluid" style="height: 400px; width:400px " src="{% static 'img/agent-4.jpg' %}">
                        </div>
                        <div class="card-overlay card-overlay-hover">
                            <div class="card-header-d">
                                <div class="card-title-d align-self-center"><br>
                                    <h3 class="title-d">
                                        <a class="link-two" href="">Ashwetha Mahto</a>
                                    </h3>
                                </div>
                            </div>
                            <br><br>
                            <div class="card-body-d">
                                <p class="content-d color-text-a">
                                    Sed porttitor lectus nibh, Cras ultricies ligula sed magna dictum porta two.
                                </p>
                            </div>
                            <div class="card-footer-d">
                                <div class="socials-footer d-flex justify-content-center">
                                    <ul class="list-inline">
                                        <li class="list-inline-item">
                                            <a class="link-one" href="#">
                                                <i aria-hidden="true" class="bi bi-facebook"></i>
                                            </a>
                                        </li>
                                        <li class="list-inline-item">
                                            <a class="link-one" href="#">
                                                <i aria-hidden="true" class="bi bi-twitter"></i>
                                            </a>
                                        </li>
                                        <li class="list-inline-item">
                                            <a class="link-one" href="#">
                                                <i aria-hidden="true" class="bi bi-instagram"></i>
                                            </a>
                                        </li>
                                        <li class="list-inline-item">
                                            <a class="link-one" href="#">
                                                <i aria-hidden="true" class="bi bi-linkedin"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card-box-d">
                        <div class="card-img-d">
                            <img alt="" class="img-d img-fluid" style="height: 400px; width:400px " src="{% static 'img/agent-6.jpg' %}">
                        </div>
                        <div class="card-overlay card-overlay-hover">
                            <div class="card-header-d">
                                <div class="card-title-d align-self-center"><br>
                                    <h3 class="title-d">
                                        <a class="link-two" href="">John Doe</a>
                                    </h3>
                                </div>
                            </div>
                            <br><br>
                            <div class="card-body-d">
                                <p class="content-d color-text-a">
                                    Sed porttitor lectus nibh, Cras ultricies ligula sed magna dictum porta two.
                                </p>
                            </div>
                            <div class="card-footer-d">
                                <div class="socials-footer d-flex justify-content-center">
                                    <ul class="list-inline">
                                        <li class="list-inline-item">
                                            <a class="link-one" href="#">
                                                <i aria-hidden="true" class="bi bi-facebook"></i>
                                            </a>
                                        </li>
                                        <li class="list-inline-item">
                                            <a class="link-one" href="#">
                                                <i aria-hidden="true" class="bi bi-twitter"></i>
                                            </a>
                                        </li>
                                        <li class="list-inline-item">
                                            <a class="link-one" href="#">
                                                <i aria-hidden="true" class="bi bi-instagram"></i>
                                            </a>
                                        </li>
                                        <li class="list-inline-item">
                                            <a class="link-one" href="#">
                                                <i aria-hidden="true" class="bi bi-linkedin"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card-box-d h-100">
                        <div class="card-img-d">
                            <img alt="" class="img-d img-fluid" style="height: 400px; width:400px " src="{% static 'img/agent-3.jpg' %}">
                        </div>
                        <div class="card-overlay card-overlay-hover">
                            <div class="card-header-d">
                                <div class="card-title-d align-self-center"><br>
                                    <h3 class="title-d">
                                        <a class="link-two" href=''>Alok Gupta</a>
                                    </h3>
                                </div>
                            </div>
                            <br><br>
                            <div class="card-body-d">
                                <p class="content-d color-text-a">
                                    Sed porttitor lectus nibh, Cras ultricies ligula sed magna dictum porta two.
                                </p>
                            </div>
                            <div class="card-footer-d">
                                <div class="socials-footer d-flex justify-content-center">
                                    <ul class="list-inline">
                                        <li class="list-inline-item">
                                            <a class="link-one" href="#">
                                                <i aria-hidden="true" class="bi bi-facebook"></i>
                                            </a>
                                        </li>
                                        <li class="list-inline-item">
                                            <a class="link-one" href="#">
                                                <i aria-hidden="true" class="bi bi-twitter"></i>
                                            </a>
                                        </li>
                                        <li class="list-inline-item">
                                            <a class="link-one" href="#">
                                                <i aria-hidden="true" class="bi bi-instagram"></i>
                                            </a>
                                        </li>
                                        <li class="list-inline-item">
                                            <a class="link-one" href="#">
                                                <i aria-hidden="true" class="bi bi-linkedin"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section><!-- End Agents Section -->

    <!-- ======= Latest News Section ======= -->
    <section class="section-news section-t8">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="title-wrap d-flex justify-content-between">
                        <div class="title-box">
                            <h2 class="title-a">Latest News</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="swiper-container" id="news-carousel">
            <div class="swiper-wrapper">

                <div class="carousel-item-c swiper-slide">
                    <div class="card-box-b card-shadow news-box">
                        <div class="img-box-b">
                            <img alt="" class="img-b img-fluid" src="{% static 'img/post-2.jpg' %}">
                        </div>
                        <div class="card-overlay">
                            <div class="card-header-b">
                                <div class="card-category-b">
                                    <a class="category-b" href="#">House</a>
                                </div>
                                <div class="card-title-b">
                                    <h2 class="title-2">
                                        <a href="blog-single.html">House is comming
                                            <br> new</a>
                                    </h2>
                                </div>
                                <div class="card-date">
                                    <span class="date-b">27 Sep. 2021</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!-- End carousel item -->

                <div class="carousel-item-c swiper-slide">
                    <div class="card-box-b card-shadow news-box">
                        <div class="img-box-b">
                            <img alt="" class="img-b img-fluid" src="{% static 'img/post-5.jpg' %}">
                        </div>
                        <div class="card-overlay">
                            <div class="card-header-b">
                                <div class="card-category-b">
                                    <a class="category-b" href="#">Travel</a>
                                </div>
                                <div class="card-title-b">
                                    <h2 class="title-2">
                                        <a href="blog-single.html">Travel is comming
                                            <br> new</a>
                                    </h2>
                                </div>
                                <div class="card-date">
                                    <span class="date-b">27 Sep. 2021</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!-- End carousel item -->

                <div class="carousel-item-c swiper-slide">
                    <div class="card-box-b card-shadow news-box">
                        <div class="img-box-b">
                            <img alt="" class="img-b img-fluid" src="{% static 'img/post-7.jpg' %}">
                        </div>
                        <div class="card-overlay">
                            <div class="card-header-b">
                                <div class="card-category-b">
                                    <a class="category-b" href="#">Park</a>
                                </div>
                                <div class="card-title-b">
                                    <h2 class="title-2">
                                        <a href="blog-single.html">Park is comming
                                            <br> new</a>
                                    </h2>
                                </div>
                                <div class="card-date">
                                    <span class="date-b">27 Sep. 2021</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!-- End carousel item -->

                <div class="carousel-item-c swiper-slide">
                    <div class="card-box-b card-shadow news-box">
                        <div class="img-box-b">
                            <img alt="" class="img-b img-fluid" src="{% static 'img/post-3.jpg' %}">
                        </div>
                        <div class="card-overlay">
                            <div class="card-header-b">
                                <div class="card-category-b">
                                    <a class="category-b" href="#">Travel</a>
                                </div>
                                <div class="card-title-b">
                                    <h2 class="title-2">
                                        <a href="#">Travel is comming
                                            <br> new</a>
                                    </h2>
                                </div>
                                <div class="card-date">
                                    <span class="date-b">27 Sep. 2021</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!-- End carousel item -->

            </div>
        </div>

        <div class="news-carousel-pagination carousel-pagination"></div>
        </div>
    </section><!-- End Latest News Section -->

    <!-- ======= Testimonials Section ======= -->
    <section class="section-testimonials section-t8 nav-arrow-a">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="title-wrap d-flex justify-content-between">
                        <div class="title-box">
                            <h2 class="title-a">Testimonials</h2>
                        </div>
                    </div>
                </div>
            </div>

            <div class="swiper-container" id="testimonial-carousel">
                <div class="swiper-wrapper">

                    <div class="carousel-item-a swiper-slide">
                        <div class="testimonials-box">
                            <div class="row">
                                <div class="col-sm-12 col-md-6">
                                    <div class="testimonial-img">
                                        <img alt="" class="img-fluid" src="{% static 'img/testimonial-1.jpg' %}">
                                    </div>
                                </div>
                                <div class="col-sm-12 col-md-6">
                                    <div class="testimonial-ico">
                                        <i class="bi bi-chat-quote-fill"></i>
                                    </div>
                                    <div class="testimonials-content">
                                        <p class="testimonial-text">
                                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis, cupiditate
                                            ea nam praesentium
                                            debitis hic ber quibusdam
                                            voluptatibus officia expedita corpori.
                                        </p>
                                    </div>
                                    <div class="testimonial-author-box">
                                        <img alt="" class="testimonial-avatar"
                                             src="{% static 'img/mini-testimonial-1.jpg' %}">
                                        <h5 class="testimonial-author">Albert & Erika</h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><!-- End carousel item -->

                    <div class="carousel-item-a swiper-slide">
                        <div class="testimonials-box">
                            <div class="row">
                                <div class="col-sm-12 col-md-6">
                                    <div class="testimonial-img">
                                        <img alt="" class="img-fluid" src="{% static 'img/testimonial-2.jpg' %}">
                                    </div>
                                </div>
                                <div class="col-sm-12 col-md-6">
                                    <div class="testimonial-ico">
                                        <i class="bi bi-chat-quote-fill"></i>
                                    </div>
                                    <div class="testimonials-content">
                                        <p class="testimonial-text">
                                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis, cupiditate
                                            ea nam praesentium
                                            debitis hic ber quibusdam
                                            voluptatibus officia expedita corpori.
                                        </p>
                                    </div>
                                    <div class="testimonial-author-box">
                                        <img alt="" class="testimonial-avatar"
                                             src="{% static 'img/mini-testimonial-2.jpg' %}">
                                        <h5 class="testimonial-author">Pablo & Emma</h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><!-- End carousel item -->

                </div>
            </div>
            <div class="testimonial-carousel-pagination carousel-pagination"></div>

        </div>
    </section><!-- End Testimonials Section -->

</main><!-- End #main -->

{% endblock %}