{% extends 'base.html' %}
{% block content %}
{% load static %}


<main id="main">
    <!-- ======= Intro Single ======= -->
    <section class="intro-single">
        <div class="container">
            {% for message in messages %}
            <div class="alert alert-info" role="alert">{{message}}</div>
            {% endfor %}
            <div class="row">
                <div class="col-md-12 col-lg-8">
                    <div class="title-single-box">
                        <h1 class="title-single">Password Reset Successful</h1>
                        <span class="color-text-a">Your password has been set. You may go ahead and log in
                    now.</span>
                    </div>
                </div>
                <div class="col-md-12 col-lg-4">
                    <nav aria-label="breadcrumb" class="breadcrumb-box d-flex justify-content-lg-end">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item">
                                <a href="{% url 'home' %}">Home</a>
                            </li>
                            <li aria-current="page" class="breadcrumb-item active">
                                Password Reset Complete
                            </li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </section><!-- End Intro Single-->
    <section class="contact">
        <div class="container">
            <div class="col-sm-12 section-t8" style="padding-top: 0px">
                <div class="row">
                    <div class="col-md-7">
                        <div class="col-md-12 text-center">
                            <a class="btn btn-a" href="{% url 'signin' %}">BACK TO LOGIN</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main><!-- End #main -->
{% endblock %}