{% extends 'base.html' %}
{% block content %}
{% load static %}


<main id="main">
    <!-- ======= Intro Single ======= -->
    <section class="intro-single">
        <div class="container">
            {% for message in messages %}
            <script>
                    window.onload = function(){
                        alert('{{message}}')
                    }
            </script>
            {% endfor %}
            <div class="row">
                <div class="col-md-12 col-lg-8">
                    <div class="title-single-box">
                        <h1 class="title-single">Forgot Password ???</h1>
                        <span class="color-text-a">Forgotten your password? Enter your email address below,
                    and we'll email instructions for setting a new one.</span>
                    </div>
                </div>
                <div class="col-md-12 col-lg-4">
                    <nav aria-label="breadcrumb" class="breadcrumb-box d-flex justify-content-lg-end">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item">
                                <a href="{% url 'home' %}">Home</a>
                            </li>
                            <li aria-current="page" class="breadcrumb-item active">
                                Forgot Password
                            </li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </section><!-- End Intro Single-->


    <section class="contact">
        <div class="container">
            <div class="col-sm-12 section-t8" style="padding-top: 0px">
                <div class="row">
                    <div class="col-md-7">
                        <form action="{% url 'password_reset' %}" method="POST">
                            {% csrf_token %}
                            <div class="row">
                                <div class="col-md-12 mb-3">
                                    <div class="form-group">
                                        <input autocomplete="email" class="form-control form-control-lg form-control-a"
                                               id="id_email"
                                               maxlength="254" name="email" placeholder="Your Email" required
                                               type="email"/>
                                    </div>
                                </div>
                                <div class="col-md-12 my-3">
                                    <div class="mb-3">
                                    </div>
                                </div>
                                <div class="col-md-12 text-center">
                                    <button class="btn btn-a" type="submit">SEND EMAIL</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>

</main><!-- End #main -->
{% endblock %}