{% extends 'base.html' %}
{% block content %}
{% load static %}


<main id="main">
    <!-- ======= Intro Single ======= -->
    <section class="intro-single">
        <div class="container">
            {% for message in messages %}
            <div class="alert alert-info" role="alert">{{message}}</div>
            {% endfor %}
            <div class="row">
                <div class="col-md-12 col-lg-8">
                    <div class="title-single-box">
                        <h1 class="title-single">Password Reset Email Sent</h1>
                        <span class="color-text-a">We've emailed you instructions for setting your
                    password, if an account exists with the email you
                    entered. You should receive them shortly.<br>If you don't receive an email, please make sure you've
                    entered the address you registered with, and check your spam folder.</span>
                    </div>
                </div>
                <div class="col-md-12 col-lg-4">
                    <nav aria-label="breadcrumb" class="breadcrumb-box d-flex justify-content-lg-end">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item">
                                <a href="{% url 'home' %}">Home</a>
                            </li>
                            <li aria-current="page" class="breadcrumb-item active">
                                Password Reset Done
                            </li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </section><!-- End Intro Single-->

</main><!-- End #main -->
{% endblock %}