{% extends 'base.html' %}
{% load static %}
{% block content %}
<main id="main">

    <!-- ======= Intro Single ======= -->
    <section class="intro-single">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-lg-8">
                    <div class="title-single-box">
                        <h1 class="title-single">{{post.location}}</h1>
                        <span class="color-text-a">{{post.pincode}} | {{post.add1}}</span>
                    </div>
                </div>
                <div class="col-md-12 col-lg-4">
                    <nav aria-label="breadcrumb" class="breadcrumb-box d-flex justify-content-lg-end">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item">
                                <a href="{% url 'home' %}">Home</a>
                            </li>
                            <li class="breadcrumb-item">
                                <a href="{% url 'property_grid' %}">All Property</a>
                            </li>
                            <li aria-current="page" class="breadcrumb-item active">
                                {{post.location}}
                            </li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </section><!-- End Intro Single-->

    <!-- ======= Property Single ======= -->
    <section class="property-single nav-arrow-b">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-8">
                    <div class="swiper-container" id="property-single-carousel">

                        <div class="swiper-wrapper">
                            {% for p in post1 %}
                            <div class="carousel-item-b swiper-slide">
                                <img alt="" style="height: 800px; " src="{{p.imagefile.url}}">
                            </div>
                            {% endfor %}
                        </div>

                    </div>
                    <div class="property-single-carousel-pagination carousel-pagination"></div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-12">

                    <div class="row justify-content-between">
                        <div class="col-md-5 col-lg-4">
                            <div class="property-price d-flex justify-content-center foo">
                                <div class="card-header-c d-flex">
                                    <div class="card-box-ico">
                                        <span class="bi bi-cash">₹</span>
                                    </div>
                                    <div class="card-title-c align-self-center">
                                        <h5 class="title-c">{{post.price}}</h5>
                                    </div>
                                </div>
                            </div>
                            <div class="property-summary">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="title-box-d section-t4">
                                            <h3 class="title-d">Quick Summary</h3>
                                        </div>
                                    </div>
                                </div>
                                <div class="summary-list">
                                    <ul class="list">
                                        <li class="d-flex justify-content-between">
                                            <strong>Property ID:</strong>
                                            <span>{{post.property_id}}</span>
                                        </li>
                                        <li class="d-flex justify-content-between">
                                            <strong>City:</strong>
                                            <span>{{post.location}}</span>
                                        </li>
                                        <li class="d-flex justify-content-between">
                                            <strong>Property Type:</strong>
                                            <span>{{post.property_type}}</span>
                                        </li>
                                        <li class="d-flex justify-content-between">
                                            <strong>Status:</strong>
                                            <span>{{post.status}}</span>
                                        </li>
                                        <li class="d-flex justify-content-between">
                                            <strong>Area:</strong>
                                            <span>{{post.area}} m
                          <sup>2</sup>
                        </span>
                                        </li>
                                        <li class="d-flex justify-content-between">
                                            <strong>Beds:</strong>
                                            <span>{{post.beds}}</span>
                                        </li>
                                        <li class="d-flex justify-content-between">
                                            <strong>Parking:</strong>
                                            <span>{{post.parking}}</span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-7 col-lg-7 section-md-t3">
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="title-box-d">
                                        <h3 class="title-d">Property Description</h3>
                                    </div>
                                </div>
                            </div>
                            <div class="property-description">
                                <p class="description color-text-a">
                                    <em><b>Address: </b></em> {{post.add1}}<br/>
                                    <em><b>Pincode: </b></em> {{post.pincode}}<br/><br/>
                                    {{post.property_des}}
                                </p>
                            </div>
                            <div class="row section-t3">
                                <div class="col-sm-12">
                                    <div class="title-box-d">
                                        <h3 class="title-d">Amenities</h3>
                                    </div>
                                </div>
                            </div>
                            <div class="amenities-list color-text-a">
                                <ul class="list-a no-margin">
                                    {% if post.balcony == 'on' %}
                                    <li>Balcony</li>
                                    {% endif %}
                                    {% if post.ac == 'on' %}
                                    <li>Air Conditioner</li>
                                    {% endif %}
                                    {% if post.bike == 'on' %}
                                    <li>Bike Racks</li>
                                    {% endif %}
                                    {% if post.fit == 'on' %}
                                    <li>Fitness Facility</li>
                                    {% endif %}
                                    {% if post.kids_area == 'on' %}
                                    <li>Kids Play Area</li>
                                    {% endif %}
                                    {% if post.modular_kitchen == 'on' %}
                                    <li>Modular Kitchen</li>
                                    {% endif %}
                                    {% if post.parking_area == 'on' %}
                                    <li>Parking Area</li>
                                    {% endif %}
                                    {% if post.security == 'on' %}
                                    <li>24/7 Security</li>
                                    {% endif %}
                                    {% if post.tv == 'on' %}
                                    <li>Cable TV</li>
                                    {% endif %}
                                    {% if post.power_backup == 'on' %}
                                    <li>Power Backup</li>
                                    {% endif %}
                                    {% if post.water == 'on' %}
                                    <li>24/7 Water Supply</li>
                                    {% endif %}
                                    {% if post.refrigerator == 'on' %}
                                    <li>Refrigerator</li>
                                    {% endif %}
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-10 offset-md-1">
                    <ul class="nav nav-pills-a nav-pills mb-3 section-t3" id="pills-tab" role="tablist">
                        <li class="nav-item">
                            <a aria-controls="pills-video" aria-selected="true" class="nav-link active"
                               data-bs-toggle="pill"
                               href="#pills-video" id="pills-video-tab" role="tab">Video</a>
                        </li>
                    </ul>
                    <div class="tab-content" id="pills-tabContent">
                        <div aria-labelledby="pills-video-tab" class="tab-pane fade show active" id="pills-video"
                             role="tabpanel">
                            <iframe allowfullscreen frameborder="0" height="460" mozallowfullscreen
                                    src="{{post.videofile.url}}" webkitallowfullscreen width="100%"></iframe>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="row section-t3">
                        <div class="col-sm-12">
                            <div class="title-box-d">
                                <h3 class="title-d">Contact Owner</h3>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 col-lg-4">
                            <img alt="" class="img-fluid" src="{{post.owner_imagefile.url}}">
                        </div>
                        <div class="col-md-6 col-lg-4">
                            <div class="property-agent">
                                <h4 class="title-agent">{{post.name}}</h4>
                                <p class="color-text-a">{{post.owner_des}}</p>
                                <ul class="list-unstyled">
                                    <li class="d-flex justify-content-between">
                                        <strong>Mobile:</strong>
                                        <span class="color-text-a">{{post.mobile_no}}</span>
                                    </li>
                                    <li class="d-flex justify-content-between">
                                        <strong>Email:</strong>
                                        <span class="color-text-a">{{post.email}}</span>
                                    </li>
                                </ul>
                                <div class="socials-a">
                                    <ul class="list-inline">
                                        <li class="list-inline-item">
                                            <a href="#">
                                                <i aria-hidden="true" class="bi bi-facebook"></i>
                                            </a>
                                        </li>
                                        <li class="list-inline-item">
                                            <a href="#">
                                                <i aria-hidden="true" class="bi bi-twitter"></i>
                                            </a>
                                        </li>
                                        <li class="list-inline-item">
                                            <a href="#">
                                                <i aria-hidden="true" class="bi bi-instagram"></i>
                                            </a>
                                        </li>
                                        <li class="list-inline-item">
                                            <a href="#">
                                                <i aria-hidden="true" class="bi bi-linkedin"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12 col-lg-4">
                            <div class="property-contact">
                                <form class="form-a">
                                    <div class="row">
                                        <div class="col-md-12 mb-1">
                                            <div class="form-group">
                                                <input class="form-control form-control-lg form-control-a"
                                                       id="inputName"
                                                       placeholder="Name *" required type="text">
                                            </div>
                                        </div>
                                        <div class="col-md-12 mb-1">
                                            <div class="form-group">
                                                <input class="form-control form-control-lg form-control-a"
                                                       id="inputEmail1"
                                                       placeholder="Email *" required type="email">
                                            </div>
                                        </div>
                                        <div class="col-md-12 mb-1">
                                            <div class="form-group">
                                                <textarea class="form-control" cols="45" id="textMessage"
                                                          name="message" placeholder="Comment *" required
                                                          rows="8"></textarea>
                                            </div>
                                        </div>
                                        <div class="col-md-12 mt-3">
                                            <button class="btn btn-a" type="submit">Send Message</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section><!-- End Property Single-->

</main><!-- End #main -->
{% endblock %}