{% extends 'base.html' %}
{% block content %}
{% load static %}
<style xmlns="http://www.w3.org/1999/html">
.input-group-prepend span{
    width: 50px;
    min-height: calc(1.5em + 1rem + 2px);
    padding: .5rem 1rem;
    font-size: 1.25rem;
    border-radius: .3rem;
    background-color: #2eca6a;
    color: black;
    border:0 !important;
}
.input-group-prepend1 span{
    width: 50px;
    min-height: calc(1.5em + 1rem + 2px);
    padding: .5rem 1rem;
    font-size: 1.25rem;
    border-radius: 0.25rem;
    background-color: #fff;
    color: black;
    cursor: pointer;
    border-color: #2eca6a;
    border-left: #fff;
}







</style>
<main id="main">
    <!-- ======= Intro Single ======= -->
    <section class="intro-single">
        <div class="container">
            {% for message in messages %}
            <script>
                    window.onload = function(){
                        alert('{{message}}')
                    }



            </script>
            {% endfor %}
            <div class="row">
                <div class="col-md-12 col-lg-8">
                    <div class="title-single-box">
                        <h1 class="title-single">Login</h1>
                        <span class="color-text-a">Login into your account to use more features.</span>
                    </div>
                </div>

                <div class="col-md-12 col-lg-4">
                    <nav aria-label="breadcrumb" class="breadcrumb-box d-flex justify-content-lg-end">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item">
                                <a href="{% url 'home' %}">Home</a>
                            </li>
                            <li aria-current="page" class="breadcrumb-item active">
                                Login
                            </li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </section><!-- End Intro Single-->

    <!-- ======= Contact Single ======= -->
    <section class="contact">
        <div class="container">
            <div class="col-sm-12 section-t8" style="padding-top: 0px">
                <div class="row">
                    <div class="col-md-7">
                        <form action="{% url 'signin' %}" method="POST">
                            {% csrf_token %}
                            <div class="col-md-10 mb-4">
                                <div class="form-group input-group mb-4">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i
                                                class="fas fa-user"> </i></span>
                                    </div>
                                    <input class="form-control" name="username"
                                           placeholder="Username" required
                                           type="text">
                                </div>
                            </div>
                            <div class="col-md-10 my-4">
                                <div class="input-group mb-4">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="basic-addon2"><i
                                                class="fas fa-key"> </i></span>
                                    </div>
                                    <input class="form-control"
                                           id="password" name="password" placeholder="Password" required
                                           type="password"/>
                                    <div class="input-group-prepend1">
                                        <span class="input-group-text"><i class="bi bi-eye-slash"
                                                                          id="togglePassword"></i></span>
                                    </div>
                                </div>
                            </div>
                            <script>
                                const togglePassword = document.querySelector('#togglePassword');
                                const password = document.querySelector('#password');
                                togglePassword.addEventListener('click', function (e) {
                                    const type = password.getAttribute('type') === 'password' ? 'text' : 'password';
                                    password.setAttribute('type', type);
                                    this.classList.toggle('bi-eye');
                                });





                            </script>
                            <div class="col-md-10 my-5">
                                <div class="mb-5">
                                </div>
                            </div>

                            <div class="col-md-10 text-center">
                                <button class="btn btn-a" type="submit">LOGIN</button>
                            </div>
                        </form>
                    </div>
                    <div class="col-md-5 section-md-t3">
                        <div class="icon-box section-b2">
                            <div class="icon-box-icon">
                                <span class="bi bi-question-circle"></span>
                            </div>
                            <div class="icon-box-content table-cell">
                                <div class="icon-box-title">
                                    <h4 class="icon-title">Don't Have an Account ??</h4>
                                </div>
                                <div class="icon-box-content">
                                    <p class="mb-1">Click Here to create:
                                        <a class="color-a" href="{% url 'register' %}">Register</a>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="icon-box">
                            <div class="icon-box-icon">
                                <span class="bi bi-emoji-frown"></span>
                            </div>
                            <div class="icon-box-content table-cell">
                                <div class="icon-box-title">
                                    <h4 class="icon-title">Forgot Password...</h4>
                                </div>
                                <div class="icon-box-content">
                                    <p class="mb-1">Change it:
                                        <a class="color-a" href="{% url 'password_reset' %}">Reset Password</a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section><!-- End Contact Single-->

</main><!-- End #main -->

{% endblock %}